<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.diagnostics>
        <sources>
            <source name="listest" switchType="System.Diagnostics.SourceSwitch" switchValue="Information">
                <listeners>
                    <add name="textlog"/>
                    <remove name="Default"/>
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="SourceSwitch" value="4"/>
            <add name="AppTraceLevel" value="4"/>
        </switches>
        <sharedListeners>
            <add name="textlog" type="System.Diagnostics.TextWriterTraceListener" initializeData="c:\temp\listest_trace.log"/>
        </sharedListeners>
        <trace autoflush="true" indentsize="4"/>
    </system.diagnostics>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
</configuration>